@import "reset.scss";

.container {
  min-height: 100%;
  display: grid;
  place-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &__item {
    a:first-of-type {
      margin-right: auto;
    }
    display: flex;
    align-items: center;
    gap: 1rem;
    img {
      width: 30px;
    }
  }
}
